name: Go Cross-Platform Build

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - goos: linux
            goarch: amd64
            suffix: ""
          - goos: linux
            goarch: arm64
            suffix: ""
          - goos: windows
            goarch: amd64
            suffix: ".exe"
          - goos: windows
            goarch: arm64
            suffix: ".exe"
          - goos: darwin
            goarch: amd64
            suffix: ""
          - goos: darwin
            goarch: arm64
            suffix: ""

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.24'

    - name: Build ${{ matrix.goos }}/${{ matrix.goarch }}
      env:
        GOOS: ${{ matrix.goos }}
        GOARCH: ${{ matrix.goarch }}
        CGO_ENABLED: 0
      run: |
        output_name="winscope-smb-${{ matrix.goos }}-${{ matrix.goarch }}${{ matrix.suffix }}"
        go build -v -ldflags="-s -w" -o "$output_name" main.go

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: winscope-${{ matrix.goos }}-${{ matrix.goarch }}
        path: winscope-${{ matrix.goos }}-${{ matrix.goarch }}${{ matrix.suffix }}